@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@font-face {
  font-family: "iA Writer Mono";
  src: url("/fonts/iAWriterMonoV.ttf") format("truetype-variations");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iA Writer Mono";
  src: url("/fonts/iAWriterMonoV-Italic.ttf") format("truetype-variations");
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-mono: "iA Writer Mono", monospace;
}

@layer base {
  body {
    @apply font-mono;
  }
}
