---
import Layout from "../layouts/Layout.astro";
import Separator from "../components/separator.astro";
import Project from "../components/project.astro";
import Library from "../components/library.astro";

import tracktrip from "../assets/tracktrip.png";
import mots from "../assets/mots.png";
---

<Layout>
  <main class="max-w-xl mx-auto px-4 pt-16 space-y-8 pb-20">
    <div>
      <h1 class="font-semibold text-lg">Alexis Tacnet</h1>
      <Separator />
    </div>

    <p class="text-sm">
      Tech engineer. I love to design, code, and deploy stuff.
    </p>
    <p class="text-sm">
      I currently work at
      <a href="https://mistral.ai" id="mistral" class="font-medium">
        Mistral AI
      </a>
      in Paris.
    </p>

    <div class="flex space-x-4 mt-16">
      <a href="https://github.com/fuegoio" class="text-sm" target="_blank">
        GitHub
      </a>
      <a
        href="https://www.linkedin.com/in/alexis-tacnet-aa0478109/"
        class="text-sm"
        target="_blank"
      >
        LinkedIn
      </a>
      <a href="https://x.com/fuegoio" class="text-sm" target="_blank">
        Twitter
      </a>
    </div>

    <Separator class="h-2" />
    <div class="font-semibold">My projects</div>

    <Project
      name="Tracktrip"
      url="https://tracktrip.app"
      githubUrl="https://github.com/fuegoio/tracktrip"
      year="2025"
      description="Open-source expense tracker for travelers."
      imageSrc={tracktrip}
    />

    <Project
      name="Mots"
      url="https://mots.alexistac.net"
      githubUrl="https://github.com/fuegoio/mots"
      year="2022"
      description="A portable dictionary to learn new words."
      imageSrc={mots}
    />

    <Separator class="h-2 mt-16" />
    <div class="font-semibold">My libraries</div>

    <Library
      name="trpc-db-collection"
      url="https://www.npmjs.com/package/trpc-db-collection"
      githubUrl="https://github.com/fuegoio/trpc-db-collection"
      year="2025"
      description="tRPC collection for TanStack DB, enabling real time sync."
    />
  </main>
</Layout>

<style>
  #mistral {
    background: linear-gradient(#ffd800, #e10500);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
