---
import Separator from "@/components/separator.astro";
import Layout from "@/layouts/Layout.astro";
import TopNav from "@/components/top-nav.astro";

import * as now from "@/content/now.md";
---

<Layout title="Now">
  <main class="lg:px-16 px-4 pt-4 space-y-4 pb-20">
    <TopNav backHref="/" backText="GO HOME" />
    <Separator class="mt-4" />

    <hgroup class="flex flex-col lg:flex-row lg:items-end lg:gap-12">
      <h1 class="text-[clamp(5rem,10vw,12rem)] leading-none font-semibold">
        NOW
      </h1>
      <div class="pb-3">
        <p class="text-base">Current focus and what I'm up to.</p>
        <p class="text-sm text-muted-foreground">
          Last updated on the 22th of January 2026.
        </p>
      </div>
    </hgroup>

    <Separator class="mt-4" />

    <div
      class="prose-lg font-serif max-w-xl mx-auto mt-8 pb-20 prose-headings:italic leading-normal prose-a:underline prose-a:underline-offset-4"
    >
      <now.Content />
    </div>
  </main>
</Layout>
