---
import { ArrowRight } from "@lucide/astro";
import T from "@/components/T.astro";

interface Props {
  href: string;
  i18nTitleKey: string;
  i18nDescKey: string;
}

const { href, i18nTitleKey, i18nDescKey } = Astro.props;
---

<a href={href} class="flex group items-center gap-2 text-sm py-2">
  <T key={i18nTitleKey} class="font-medium group-hover:underline underline-offset-4" />
  <ArrowRight class="w-4 h-4" />
  <T key={i18nDescKey} class="text-muted-foreground opacity-0 group-hover:opacity-100 transition-opacity" />
</a>
