---
import { cn } from "@/lib/utils";

const { class: className } = Astro.props;
---

<a
  href="/"
  class={cn(
    "font-pixel text-xl text-center group overflow-hidden h-lh block",
    className,
  )}
>
  <div
    class="group-hover:-translate-y-full transition-transform duration-300 text-foreground/70"
  >
    Personal website of Alexis Tacnet
  </div>
  <div class="group-hover:-translate-y-full transition-transform duration-300">
    GO HOME
  </div>
</a>
