---
import T from "@/components/T.astro";

interface Props {
  url: string;
  year: string;
  nameKey: string;
  descriptionKey: string;
}

const { url, year, nameKey, descriptionKey } = Astro.props;
---

<div class="border bg-card">
  <div class="p-4">
    <div class="flex items-center gap-4">
      <a href={url} class="font-semibold flex-1"><T key={nameKey} /></a>
      <div class="text-gray-500 text-sm">{year}</div>
    </div>
    <T key={descriptionKey} class="text-sm" />
  </div>
</div>
