---
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <title>Alexis Tacnet</title>
    <meta
      name="description"
      content="Tech engineer. I love to design, code, and deploy stuff."
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Alexis Tacnet" />

    <!-- Canonical URL -->
    <link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />

    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    {
      import.meta.env.PROD && (
        <script
          defer
          src="https://umami.alexistac.net/script.js"
          data-website-id="c96e63cf-c538-41fb-a6d3-5a0fd4bfa972"
        />
      )
    }
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
